* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
                                        /* FORMATOS REPETIDOS */

.title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 42px;
}
p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 36px;
    width: 288px;
}
button {
    background: #00F3BB;
    border: none;
    width: 288px;
    height: 48px;
    margin-bottom: 24px;
}
button a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
                                        /* CONTAINER */
.container {
    padding-left: 16px;
    width: 320px;
}
                                        /* NAVBAR*/

/* logo */
.container div.navbar img {
    background-color: #FFFFFFFF;
    width: 24px;
    height: 24px; 
}
/* menu hamburguesa/close */
label, a {
    cursor:pointer;
}
#menu div {
    width: 18px;
    height: 2px;
    background-color: #000000; 
    margin-bottom: 3px;
}
#menu :last-child {
    margin-bottom: 0px;
}
#close {
    display: none;
    height: 14px;
    width: 14px;
    color: #060A24;
}
/*lista desplegable*/
.navbar {
    margin-left: -16px;
    width: 320px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 19px;
    padding-left: 16px;   
    position: relative; 
}
.container div ul {
    position: absolute;
    width: 320px;
    height: 224px;
    background-color: #0000EC;
    left: 0px;
    top: 44px;
    display: none; 
}
.container div ul li {
    margin-left: 16px;
    margin-bottom: 24px; 
}
.container div ul :first-child {
    margin-top: 19px;
}
.itemsMenu a {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
}
a:active {
    color:#060A24 56%;
    text-decoration: line-through;
}
/*funcion del menu*/
input {
    display: none;
}
input:checked ~ ul {
    display: block;
}
input:checked ~ label img#close{
    display: block;
}
input:checked ~ label div#menu{
    display: none;
}

                                        /* HEADER*/

.header {
    width: 222px;
    height: 84px;
    margin-bottom: 16px;
} 
                                        /*EPISODIOS*/
#episodios {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 320px;
    height:1203.5px;
    padding: 64px 11px 143.5px 11px;
    margin-left: -16px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}
#episodios .title {
    margin-bottom: 21px;
    color: #FFFFFF;
    height: 42px;
    width: 157px;
}
/*botones de spotify*/
.podcast {
    display: flex;
    flex-direction: column;
  }
.iframeWrapper {
    position: relative;
    height: 225px;
    margin-bottom: 11px;
    max-width: 298px;
    box-sizing: border-box;
    border-radius: 1;
    
  }
  .iframeWrapper iframe {
    height: 103%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    flex-shrink: 0;
    
 }
/*lineas oblicuas*/
.svgTop{
    position: absolute;
    top: -1px;
    width: 345px;
    height: 30px;
    margin-left: -11px;
    transform: rotate(180deg);
}
.svgBottom {
    position: absolute;
    bottom: 0px;
    width: 320px;
    height: 30px;
    margin-left: -11px;
}
                                        /*PHONE*/

.phone {
    margin-top: -95.5px;
    margin-left: -36px;
    position: relative;
    z-index: 1;
    margin-bottom: 27px;   
    box-sizing: border-box;
}
.phone img {
    width: 360px;
    height: 519px;
}
                                        /*NOSOTROS*/
#nosotros {
    width: 288px;
    margin-bottom: 8px;
}
#nosotros {
    width: 288px;
    margin-bottom: 8px;
    height: 346px;    
}
#nosotros .title {
    margin-bottom: 8px;
}
#nosotros p {
    margin: 0;
}

                                        /*ENTREVISTAS*/

#entrevistas {
    width: 288px;
    margin-top: 54px;
}
.gallery {
    margin-left: -16px;
    height: 1458px;
}

/*invitados/galeria de imagenes*/
#entrevistas .title {
    margin-bottom: 14px;
}
.gallery div img{
    width: 320px;
    height: 243px;
    vertical-align: bottom;
}
                                        /*TOPICOS*/
#topicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}
#topicos .title {
    margin-bottom: 24px;
}
.topicIcons {
    width: 320px;
    height: 130px;
    padding: 13px 108px;
}
#topicos .title ~ div {
    width: 320px;
    min-height: 162px;
    margin-left: -16px;
    margin-bottom: 36px;
}
.pieIcono {
    font-family: 'IBM Plex Sans', sans-serif, monospace;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    width: 288px;
    max-height: 64px;
    margin: 0 auto;
}
                                        /*NOVEDADES*/
#novedades {
    height: 341px;
    width: 320px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    margin-left: -16px;
}
.lastSvg{
    width: 320px;
    height: 30px;
    margin-left: -11px;
    transform: rotate(180deg);
}
#novedades .title{
    margin: 30px 16px 36px 16px;
    color: #FFFFFF;
    width: 288px;
    height: 126px;
    text-align: center;
} 
#novedades button {
    margin: 0 16px 67px 16px;
}
                                        /*FOOTER CON socialMedia*/
#conoceMas {
    padding: 24px 45px 31px 45px;
    margin-left: -16px;
}
#conoceMas p {
    width: 227px;
    height: 22px;
    margin: 0 1px 0 2px ;
   }
#conoceMas .socialMedia{
    width: 232px;
    height: 28px;
    margin-top: 16px;
    display: flex;
    align-items: center;
}
#conoceMas .socialMedia div{
    margin-right: 38px;
}

i{
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
}

                                        /* RESPONSIVE DESKTOP*/
/*button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}*/
